# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
ENV/
.env/
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Flask uploads
debug.log
uploads/

# 環境変数ファイル
.env
.env_sample

# IDE/Editor specific files
.idea/
